@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

@-moz-keyframes fadeIn {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

@-webkit-keyframes fadeIn {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

@-o-keyframes fadeIn {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
} 

@-ms-keyframes fadeIn {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

.form {
  position: relative;
  z-index: 1;
  background: #36454f;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.titulo {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  margin-bottom: 20%;
}

#acceder {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00a693;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #e97451;
  font-size: 15px;
}

body {
  background: url("../assets/concesionario1.jpg") no-repeat fixed;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
